:root {
    --color-background: #131313; /* Color de fondo oscuro */
    --color-company: #ff3b3b; /* Azul oscuro para elementos de la empresa */
    --color-footer: #F6F5F8; /* Color claro para el pie de página */
    --color-hover: rgb(131, 2, 26); /* Color de hover */
    --color-body: #000000; /* Color para el cuerpo de la página */
    --color-card: #0E0E0E;
    --color-hr: #1B1B1B;
    --color-hover: #e62e2e;
}

label {
    font-size: 13px;
    color: white;
    padding: 2px;
}

.card {
    border: transparent;
    border-radius: 50px;
    background-color: var(--color-card);
    border-color: transparent;
}

.card-title {
    color: white;
    font-weight: bold;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0.75rem;
    padding: 1rem;
    font-size: 0.9rem;
}

.btn-primary {
    background-color: var(--color-company);
    border: 1px solid var(--color-company);
    border-radius: 0.75rem;
    padding: 0.75rem;
    font-size: 0.9rem;
}

.btn-primary:hover {
    background-color: var(--color-hover);
    border: 1px solid var(--color-hover);
}

.btn-block {
    border-radius: 0.75rem;
}

a {
    color: var(--color-company);
}

a:hover{
    color: var(--color-company);
}

.text-center a {
    color: var(--color-hover);
}

.text-center a:hover {
    text-decoration: none;
    color: var(--color-hover);
}

.icon-login{
    width: 180px;
    height: auto;
}

.btn:hover{
    background-color: var(--color-hover);
}

.btn{
    background-color: var(--color-company);
    border-color: var(--color-company);
    height: 50px;
}
