.background-ad{
    background-color: var(--color-company);
    background-color: #0273FF;
    height: 150px;
    position: relative;
    overflow: hidden; 
}

.image-ad{
    width: 100%;
    height: auto;
    transform: translateY(25px);
}

.title-welcome{
    font-weight: bold;
    padding-left: 7%;
}

/*search*/
.search-container {
    position: relative;
    width: 95%;
    margin: 0 auto; /* Centrar el buscador */
}

.search-input {
    width: 100%;
    padding: 10px 20px;
    padding-left: 40px; /* Espacio para el ícono */
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #0273FF;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #aaa;
}

.search-icon:hover {
    color: #0273FF;
}