<link rel="stylesheet" href="/css/web/login.css">
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card border shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <center><img
                            src="https://media.istockphoto.com/id/1178218677/vector/cute-siberian-husky-dog-paws-up-over-wall-vector-illustration.jpg?s=612x612&w=0&k=20&c=nyM0TDNp8ACqc2NB6sr7QaZHX5fDKH1wtBaubENokp0="
                            alt="" class="icon-login"> </center>
                    <form action="/links/login" method="POST">
                        <div class="form-group">
                            <label for="">Correo electronico</label>
                            <input type="email" class="form-control" id="username" placeholder="Correo electronico" name="userName"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="">Contraseña</label>
                            <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        <br>
                        <small><a href="/links/singup">Crear nueva cuenta</a></small>
                    </form>
                    <div class="text-center mt-3">
                        <small><a href="#">¿Olvidaste tu contraseña?</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>