<link rel="stylesheet" href="/css/web/login.css">
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop">
                    <form class="box">
                        <center><img src="/img/icon.webp" alt="" class="icon-login"></center>
                        <br>
                        <div class="field">
                            <label for="">Escribe tu correo electronico</label>
                            <p class="control has-icons-left">
                                <input class="input" type="email" placeholder="ejemplo@correo.com" required>
                                <span class="icon is-small is-left">
                                    <i class="fi fi-sr-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label for="">Escribe tu contrase침a</label>
                            <p class="control has-icons-left">
                                <input id="password-input" class="input" type="password" placeholder="********"
                                    required>
                                <span id="toggle-password-visibility" class="icon is-small is-left">
                                    <i id="password-icon" class="fi fi-sr-eye"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <label for="">Confirma tu contrase침a</label>
                            <p class="control has-icons-left">
                                <input id="password-input" class="input" type="password" placeholder="********"
                                    required>
                                <span id="toggle-password-visibility" class="icon is-small is-left">
                                    <i id="password-icon" class="fi fi-sr-eye"></i>
                                </span>
                            </p>
                        </div>
                        <!-- Bot칩n de inicio de sesi칩n -->
                        <div class="field">
                            <div class="control">
                                <button class="button is-link is-fullwidth">Crear Cuenta</button>
                            </div>
                        </div>
                        <br><br>
                        <hr>
                        <p class="has-text-centered">
                            <a href="/links/login">Ya tienes una cuenta?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/web/login.js"></script>