<style>
    .header {
        padding: 20px;
        background-color: var(--color-card);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }



    .profile-pic-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        /* Hides any part of the image that stands out */
        border-radius: 50%;
    }

    .profile-pic {
        width: 100%;
        /* Automatically adjusts the image size */
        height: auto;
        display: block;
    }

    .profile-name {
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    /*information followers, photo and video*/
    .fan-stats {
        display: flex;
        justify-content: space-around;
        background-color: var(--color-background);
        /* Using the background color variable */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        margin: 20px auto;
        color: #fff;
    }

    .fan-stats div {
        text-align: center;
    }

    .fan-stats div span {
        display: block;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .fan-stats div small {
        color: rgba(255, 255, 255, 0.7);
    }

    .description {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.4);
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
    }

    .hide {
        display: none;
    }

    .read_most {
        background-color: transparent;
        border-color: transparent;
        color: white;
        text-decoration: linen;
    }

    /*button follow*/
    .follow-button {
        background-color: #ff3b3b;
        color: white;
        border: none;
        padding: 12px 24px;
        font-size: 18px;
        border-radius: 25px;
        cursor: pointer;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }

    .follow-button:hover {
        background-color: #e62e2e;
    }

    /*this is when the user is following to the model*/
    .following {
        background-color: transparent;
        border: 2px solid var(--color-company);
        border-color: var(--color-company);
        color: var(--color-company);
        border-radius: 25px;
    }

    .following:hover {
        background-color: var(--color-company);
        color: white;
    }
</style>
<div class="header">
    <center>
        <div class="profile-pic-container">
            <img src="https://img6.hotnessrater.com/6297109/payton-preslee-nude.jpg?w=4000&h=6000"
                alt="Foto de Perfil" class="profile-pic">
        </div>
        <div class="profile-name" id="username">Payton Preslee</div>
        <p class="description">
            Angela White is an Australian pornographic actress, director, producer and erotic model.❤️
            She has acted in more than 1,000 films to date, many of her first featuring masturbation or lesbian
            scenes.💦
            Como actriz, ha trabajado para diversas productoras como Evil Angel, Reality Kings, Wicked, Brazzers,
            Archangel, Digital Playground, Blacked, Vixen, Bangbros, Girlsway, New Sensations, Mofos, Pure Taboo, Score,
            Jules Jordan Video, Elegant Angel, Kink.com, Hard X, Naughty America, Sweetheart Video, Deeper o Girlfriends
            Films, entre otras muchas.1​
        </p>
        <button id="toggleButton" class="read_most">Show more</button>
        <br>
        <!--
        <button id="followButton" class="follow-button following"><i class="fi fi-sr-heart"></i> Suscribirte</button>
        <button id="followButton" class="follow-button following"><i class="fi fi-rr-heart"></i> Unsubscribe</button>
        -->
        <button id="followButton" class="follow-button"><i class="fi fi-sr-heart"></i> Subscribe</button>
    </center>
    <br><br>
    <div class="fan-stats">
        <div>
            <span>5,000</span>
            <small>Followers</small>
        </div>
        <div>
            <span>200</span>
            <small>photos</small>
        </div>
        <div>
            <span>50</span>
            <small>videos</small>
        </div>
    </div>
    <hr>
</div>

<script>
    //this is for the description
    const description = document.querySelector('.description');
    const toggleButton = document.getElementById('toggleButton');

    let isExpanded = false;
    let originalText = '';

    toggleButton.addEventListener('click', function () {
        if (!isExpanded) {
            // show the text complete
            description.textContent = originalText;
            toggleButton.textContent = 'Show less';
            isExpanded = true;
        } else {
            // show 100 character
            description.textContent = originalText.slice(0, 300);
            toggleButton.textContent = 'Show more';
            isExpanded = false;
        }
    });

    // save the text origin for show complete after
    originalText = description.textContent.trim();
    description.textContent = originalText.slice(0, 300); // show only 100 character of the text origin 
</script>