<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
        padding: 20px;
    }

    .grid img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

    .grid img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    /*image clocked*/
    .photo-container {
        position: relative;
        width: 300px;
        height: auto;
        overflow: hidden;
    }

    .lock-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        color: rgba(255, 255, 255, 0.5);
    }

    .blocked-photo {
        opacity: 0.5;
        /* Opacidad inicial para simular bloqueada */
        filter: grayscale(1%) blur(8px);
        /* Escala de grises y desenfoque */
        transition: opacity 0.5s ease, filter 0.5s ease;
        /* Transición suave para efectos */
    }

    /*this is for not dowload image*/
    .image-container {
        position: relative;
        display: inline-block;
    }

    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        /* Permite que los eventos de ratón pasen a través de la capa */
    }

    .image-overlay::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        /* Color de fondo transparente */
    }
</style>
<div class="card">
    <div class="card-body">
        <div class="grid">
            <div class="photo-container" unlocked="false">
                <i class="fi fi-sr-lock lock-icon"></i>
                <img src="https://pbs.twimg.com/media/EGnQf0HU0AEe_rD?format=jpg&name=large" alt="Angela White Image 7"
                    class="blocked-photo">
                <div class="image-overlay"></div>
            </div>

            <div class="photo-container" unlocked="false">
                <i class="fi fi-sr-lock lock-icon"></i>
                <img src="https://i2-prod.mirror.co.uk/incoming/article29728592.ece/ALTERNATES/s1200c/2_Adult-star-Angela-White-celebrates-Black-Friday-with-OnlyFans-sale.jpg"
                    alt="Angela White Image 1" class="blocked-photo">
                <div class="image-overlay"></div>
            </div>
            <div class="photo-container" unlocked="false">
                <i class="fi fi-sr-lock lock-icon"></i>
                <img src="https://i.dailymail.co.uk/1s/2023/05/12/01/70887319-12074945-image-a-27_1683850921486.jpg"
                    alt="Angela White Image 2" class="blocked-photo">
                <div class="image-overlay"></div>
            </div>
            <div class="photo-container" unlocked="false">
                <i class="fi fi-sr-lock lock-icon"></i>
                <img src="https://qpornx.com/media/images/e/6/0/2/e602e3688005fe9e15149ca99aafda49-23151.jpg"
                    alt="Angela White Image 3" class="blocked-photo">
                <div class="image-overlay"></div>
            </div>
            <div class="photo-container" unlocked="false">
                <i class="fi fi-sr-lock lock-icon"></i>
                <img src="https://static-ca-cdn.eporner.com/gallery/u8/hN/oype3oQhNu8/1075458-angela-white-2-broke-girls.jpg"
                    alt="Angela White Image 4" class="blocked-photo">
            </div>
            <div class="photo-container" unlocked="false">
                <i class="fi fi-sr-lock lock-icon"></i>
                <img src="https://www.iseekgirls.com/wp-content/uploads/2023/11/Angela-White-Porn-Nude-Squirting-XXX.webp"
                    alt="Angela White Image 5" class="blocked-photo">
            </div>
            <div class="photo-container" unlocked="false">
                <i class="fi fi-sr-lock lock-icon"></i>
                <img src="https://pbs.twimg.com/media/DLEj57IVoAAF-2S.jpg:large" alt="Angela White Image 6"
                    class="blocked-photo">
            </div>
        </div>
    </div>
</div>


<script>
    // Seleccionar todas las imágenes dentro de divs con la clase .photo-container
    const images = document.querySelectorAll('.photo-container img');

    // Iterar sobre cada imagen
    images.forEach(image => {
        // Obtener el atributo 'unlocked' del div padre (.photo-container)
        const unlocked = image.parentElement.getAttribute('unlocked');

        // Verificar el valor del atributo 'unlocked'
        if (unlocked === 'false') { //true
            // Si es 'true', eliminar la clase .blocked-photo y el ícono de bloqueo
            image.classList.remove('blocked-photo');
            const lockIcon = image.parentElement.querySelector('.lock-icon');
            if (lockIcon) {
                lockIcon.remove();
            }
        }
    });
</script>