<!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="/css/home/adCarousel.css">


<div class="swiper-container" id="ad-carousel">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://via.placeholder.com/800x300?text=Slide+1" alt="Slide 1"></div>
        <div class="swiper-slide"><img src="https://via.placeholder.com/800x300?text=Slide+2" alt="Slide 2"></div>
        <div class="swiper-slide"><img src="https://via.placeholder.com/800x300?text=Slide+3" alt="Slide 3"></div>
        <div class="swiper-slide"><img src="https://via.placeholder.com/800x300?text=Slide+4" alt="Slide 4"></div>
    </div>
    <!-- Add Pagination 
    <div class="swiper-pagination"></div>
    -->
    <!-- Add Navigation 
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    -->
</div>


<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/home/adCarousel.js"></script>