<link href="/css/home/home.css" rel="stylesheet">

<!-- Sección destacada -->
<div class="jumbotron text-center">
  <h1 class="display-4" style="color: black;"><b>Encuentra el servicio que necesitas</b></h1>
  <p class="lead"><b>Lo mejor para el <i class="fi fi-sr-heart"></i></b></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Explora ahora</a>
</div>


<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col">
      <div class="container-category">
          <img src="https://img.freepik.com/foto-gratis/gato-rojo-o-blanco-i-estudio-blanco_155003-13189.jpg" alt="" class="icon-category">
      </div>
      <br>
      <center><p class="title-category">Gato</p></center>
    </div>
    <div class="col">
      <div class="container-category">
          <img src="https://png.pngtree.com/png-clipart/20230307/ourmid/pngtree-colorful-parrot-cartoon-on-white-background-png-image_6636283.png" alt="" class="icon-category">
      </div>
      <br>
      <center><p class="title-category">Cotorro</p></center>
    </div>
    <div class="col">
      <div class="container-category">
          <img src="https://img.freepik.com/foto-gratis/perro-pug-aislado-fondo-blanco_2829-11416.jpg" alt="" class="icon-category">
      </div>
      <br>
      <center><p class="title-category">Perro</p></center>
    </div>
    <div class="col">
      <div class="container-category">
          <img src="https://static.vecteezy.com/system/resources/previews/016/457/777/original/realistic-computer-drawing-of-a-rabbit-png.png" alt="" class="icon-category">
      </div>
      <br>
      <center><p class="title-category">Conejo</p></center>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <!-- Servicio 1 -->
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://www.aon.es/personales/seguro-perro-gato/wp-content/uploads/sites/2/2023/02/banando-perro.jpg"
          class="card-img-top" alt="Servicio 1">
        <div class="card-body">
          <h5 class="card-title">Corte de cabello</h5>
        </div>
      </div>
    </div>
    <!-- Servicio 2 -->
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://www.zooplus.es/magazine/wp-content/uploads/2022/08/paseador-de-perros-1.jpeg"
          class="card-img-top" alt="Servicio 2">
        <div class="card-body">
          <h5 class="card-title">Paseos</h5>
        </div>
      </div>
    </div>
    <!-- Servicio 3 -->
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://www.veterinariaargosalbacete.com/wp-content/uploads/2022/03/corte-pelo-perro.jpg"
          class="card-img-top" alt="Servicio 3">
        <div class="card-body">
          <h5 class="card-title">Cuidado</h5>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Sección de servicios -->
<div class="container mt-5">
  <div class="row">
    <!-- Servicio 1 -->
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://www.aon.es/personales/seguro-perro-gato/wp-content/uploads/sites/2/2023/02/banando-perro.jpg"
          class="card-img-top" alt="Servicio 1">
        <div class="card-body">
          <h5 class="card-title">Servicio 1</h5>
          <p class="card-text">Descripción breve del servicio 1.</p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="price">$50.00</span>
            <button type="button" class="btn btn-sm btn-outline-secondary btn-buy">Contratar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Servicio 2 -->
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://www.zooplus.es/magazine/wp-content/uploads/2022/08/paseador-de-perros-1.jpeg"
          class="card-img-top" alt="Servicio 2">
        <div class="card-body">
          <h5 class="card-title">Servicio 2</h5>
          <p class="card-text">Descripción breve del servicio 2.</p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="price">$100.00</span>
            <button type="button" class="btn btn-sm btn-outline-secondary btn-buy">Contratar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Servicio 3 -->
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://www.veterinariaargosalbacete.com/wp-content/uploads/2022/03/corte-pelo-perro.jpg"
          class="card-img-top" alt="Servicio 3">
        <div class="card-body">
          <h5 class="card-title">Servicio 3</h5>
          <p class="card-text">Descripción breve del servicio 3.</p>
          <div class="d-flex justify-content-between align-items-center">
            <span class="price">$75.00</span>
            <button type="button" class="btn btn-sm btn-outline-secondary btn-buy">Contratar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<br><br><br><br><br><br>