<link href="/css/home/home2.css" rel="stylesheet">
<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col">
      <div class="container-category">
          <img src="https://img.freepik.com/foto-gratis/gato-rojo-o-blanco-i-estudio-blanco_155003-13189.jpg" alt="" class="icon-category">
      </div>
      <br>
      <center><p class="title-category"></p></center>
    </div>
    <div class="col">
      <div class="container-category">
          <img src="https://png.pngtree.com/png-clipart/20230307/ourmid/pngtree-colorful-parrot-cartoon-on-white-background-png-image_6636283.png" alt="" class="icon-category">
      </div>
      <br>
      <center><p class="title-category"></p></center>
    </div>
    <div class="col">
      <div class="container-category">
          <img src="https://img.freepik.com/foto-gratis/perro-pug-aislado-fondo-blanco_2829-11416.jpg" alt="" class="icon-category">
      </div>
      <br>
      <center><p class="title-category"></p></center>
    </div>
    <div class="col">
      <div class="container-category">
          <img src="https://static.vecteezy.com/system/resources/previews/016/457/777/original/realistic-computer-drawing-of-a-rabbit-png.png" alt="" class="icon-category">
      </div>
      <br>
      <center><p class="title-category"></p></center>
    </div>
  </div>
</div>