<div class="search-container">
    <input type="text" class="search-input" placeholder="Buscar un producto..." id="search">
    <i class="fi fi-br-search search-icon"></i>
</div>
<br>



<!--this is for show the search most common-->
<center>
<div class="container-search hidden" id="container-search">
    <h6>Los más buscados</h6>
    <ul id="search-history">
        <li id="food-dog"><label for=""><img src="https://cdn-icons-png.flaticon.com/512/802/802276.png" alt="" class="icon-search">Comida de perro</label></li>
        <li id="food-cat"><label for=""><img src="https://cdn-icons-png.flaticon.com/512/9739/9739978.png" alt="" class="icon-search">Comida de gato</label></li>
        <li id="bathe-pet"><label for=""><img src="https://cdn-icons-png.flaticon.com/512/3636/3636441.png" alt="" class="icon-search">Bano para mascotas</label></li>
        <li id="toy-pet"><label for=""><img src="https://cdn-icons-png.flaticon.com/512/16950/16950517.png" alt="" class="icon-search">Juguetes de mascotas</label></li>
        <li id="vet"><label for=""><img src="https://cdn-icons-png.flaticon.com/256/9184/9184497.png" alt="" class="icon-search">Veterinario</label></li>
    </ul>
</div>
</center>