<link rel="stylesheet" href="/css/home/services.css">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-services">
                <img src="/img/home/Walk_dogs.webp" alt="" class="image-services">
            </div>
            <center><h6 class="subtitle-services">Servicios</h6></center>
        </div>
        <div class="col">
            <div class="card-services">
                <img src="/img/home/food.webp" alt="" class="image-services">
            </div>
            <center><h6 class="subtitle-services">Alimento</h6></center>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-services">
                <img src="/img/home/toy-pet.webp" alt="" class="image-services">
            </div>
            <center><h6 class="subtitle-services">Articulos</h6></center>
        </div>
        <div class="col">
            <div class="card-services">
                <img src="/img/home/vet.webp" alt="" class="image-services">
            </div>
            <center><h6 class="subtitle-services">Veterinario</h6></center>
        </div>
    </div>
</div>