<div class="row">
    <!-- Historial de conversaciones -->
    <div class="col-md-4">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                <div class="media">
                    <img src="https://t2.ea.ltmcdn.com/pt/posts/1/4/6/nomes_para_cachorro_husky_21641_600.jpg"
                        alt="User 1" class="rounded-circle align-self-start mr-3" width="50" height="50">
                    <div class="media-body">
                        <h5 class="mt-0">Usuario 1</h5>
                        Último mensaje...
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="media">
                    <img src="https://t2.ea.ltmcdn.com/pt/posts/1/4/6/nomes_para_cachorro_husky_21641_600.jpg"
                        alt="User 2" class="rounded-circle align-self-start mr-3" width="50" height="50">
                    <div class="media-body">
                        <h5 class="mt-0">Usuario 2</h5>
                        Último mensaje...
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="media">
                    <img src="https://t2.ea.ltmcdn.com/pt/posts/1/4/6/nomes_para_cachorro_husky_21641_600.jpg"
                        alt="User 3" class="rounded-circle align-self-start mr-3" width="50" height="50">
                    <div class="media-body">
                        <h5 class="mt-0">Usuario 3</h5>
                        Último mensaje...
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="media">
                    <img src="https://t2.ea.ltmcdn.com/pt/posts/1/4/6/nomes_para_cachorro_husky_21641_600.jpg"
                        alt="User 4" class="rounded-circle align-self-start mr-3" width="50" height="50">
                    <div class="media-body">
                        <h5 class="mt-0">Usuario 4</h5>
                        Último mensaje...
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="media">
                    <img src="https://t2.ea.ltmcdn.com/pt/posts/1/4/6/nomes_para_cachorro_husky_21641_600.jpg"
                        alt="User 5" class="rounded-circle align-self-start mr-3" width="50" height="50">
                    <div class="media-body">
                        <h5 class="mt-0">Usuario 5</h5>
                        Último mensaje...
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<script>

    function is_mobile_device() {
        return window.innerWidth <= 800; // Puedes ajustar este valor según tus necesidades
    }

    function select_chat() {
        const columnInformationCaht = document.getElementById('columnInformationCaht');
        const columnHistoryChat = document.getElementById('columnHistoryChat');
        //if we is in a cellphone, the column will hide
        if (is_mobile_device()) {
            columnInformationCaht.classList.add('column-active');
            columnHistoryChat.classList.remove('column-active');
        }
    }

    function return_histoyr_chat() {
        const columnInformationCaht = document.getElementById('columnInformationCaht');
        const columnHistoryChat = document.getElementById('columnHistoryChat');
        //if we is in a cellphone, the column will hide
        if (is_mobile_device()) {
            columnInformationCaht.classList.remove('column-active');
            columnHistoryChat.classList.add('column-active');
        }
    }
</script>