<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-1">
                <button class="btn"><i class="fi fi-rr-angle-left" style="color: black;"></i></button>
            </div>
            <div class="col-2">
                <img src="https://t2.ea.ltmcdn.com/pt/posts/1/4/6/nomes_para_cachorro_husky_21641_600.jpg" alt="User 5"
                    class="rounded-circle align-self-start mr-3" width="50" height="50">
            </div>
            <div class="col">
                <h6 class="mt-0">Usuario 1</h6>
                <hr>
            </div>
        </div>
    </div>
    <div class="card-body chat-body">
        <div class="chat-message message-left">
            <div class="chat-message-text">Hola, ¿cómo estás?</div>
        </div>
        <div class="chat-message message-right">
            <div class="chat-message-text">Bien, ¿y tú?</div>
        </div>
        <div class="chat-message">
            <div class="chat-message-text">Muy bien, gracias.</div>
        </div>
    </div>
    <div class="card-footer">
        <div class="input-group">
            <textarea type="text" class="form-control input-message" placeholder="Escribe tu mensaje..."></textarea>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fi fi-sr-paper-plane-top"></i> Enviar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/emoji-mart@3.0.1/dist/emoji-mart.js"></script>
<script>
    function toggleEmojiPicker() {
        const picker = document.getElementById('emoji-picker');
        picker.classList.toggle('active');
    }

    const picker = new EmojiMart.Picker({
        onClick: (emoji) => {
            console.log(emoji);
            toggleEmojiPicker();
        },
        set: 'apple'
    });

    document.getElementById('emoji-picker').appendChild(picker);
</script>