<link rel="stylesheet" href="/css/home/home.css">
<link rel="stylesheet" href="/css/home/search.css">
{{>home/home/adCarousel}}
<br>
<h4 class="title-welcome"><b>Bienvenido {{user.username}}</b></h4>
<br>
{{>home/home/search}}
<!--this is for show home-->
<div class="container-home" id="container-home">
    {{>home/home/pets}}
    <hr>
    {{>home/home/services}}
</div>



<script src="/js/home/search.js"></script>